.version.about /* version checker */ {
    color: #0000ee;
    background-color: #e2816c;
}

.html {
    background-color: #ffffff;
}

#page {
    z-index: 1;
    width: 1170px;
    min-height: 1000px;
    background-image: none;
    border-style: none;
    border-color: #000000;
    background-color: transparent;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
}

#page_position_content {
    padding-top: 154px;
    width: 0.01px;
}

#u22267 {
    z-index: 177;
    height: 106px;
    top: 0px;
}

#u22267-bw {
    z-index: 177;
}

#buttonu17284 {
    z-index: 234;
    width: 213px;
    padding-bottom: 11px;
    top: 28px;
    left: 50%;
    margin-left: 369px;
}

#buttonu17284:hover {
    width: 213px;
    min-height: 0px;
    margin: 0px 0px 0px 369px;
}

#buttonu17284.ButtonSelected {
    width: 213px;
    min-height: 0px;
    margin: 0px 0px 0px 369px;
}

#u17285-4 {
    z-index: 235;
    width: 186px;
    min-height: 18px;
    margin-right: -10000px;
    margin-top: 11px;
    left: 12px;
}

#buttonu17284:hover #u17285-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 186px;
    margin: 11px -10000px 0px 0px;
}

#buttonu17284.ButtonSelected #u17285-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 186px;
    margin: 11px -10000px 0px 0px;
}

#u17377 {
    z-index: 239;
    width: 277px;
    top: 32px;
    left: 50%;
    margin-left: -585px;
}

#u17287 {
    z-index: 245;
    width: 35px;
    margin-right: -10000px;
    margin-top: 4px;
}

#u17283-5 {
    z-index: 240;
    width: 226px;
    min-height: 46px;
    margin-right: -10000px;
    left: 51px;
}

#u22249 {
    z-index: 247;
    width: 17px;
    min-height: 19px;
    top: 43px;
    left: 50%;
    margin-left: -168px;
}

#u17220-4 {
    z-index: 178;
    width: 126px;
    min-height: 18px;
    top: 44px;
    left: 50%;
    margin-left: -146px;
}

#u22251 {
    z-index: 248;
    width: 17px;
    min-height: 19px;
    top: 43px;
    left: 50%;
    margin-left: 5px;
}

#u17221-4 {
    z-index: 182;
    width: 126px;
    min-height: 18px;
    top: 44px;
    left: 50%;
    margin-left: 30px;
}

#u22253 {
    z-index: 249;
    width: 17px;
    min-height: 19px;
    top: 43px;
    left: 50%;
    margin-left: 188px;
}

#u17222-4 {
    z-index: 186;
    width: 119px;
    min-height: 18px;
    top: 44px;
    left: 50%;
    margin-left: 211px;
}

#u17226 {
    z-index: 190;
    height: 55px;
    top: 106px;
}

#u17226-bw {
    z-index: 190;
}

#menuu17227 {
    z-index: 191;
    width: 755px;
    top: 106px;
    left: 50%;
    margin-left: -585px;
}

#u17228 {
    width: 95px;
    min-height: 55px;
    margin-right: -10000px;
}

#u17229 {
    width: 95px;
    padding-bottom: 37px;
}

#u17229.MuseMenuActive {
    width: 95px;
    min-height: 0px;
    margin: 0px;
}

#u17230-4 {
    width: 45px;
    min-height: 18px;
    margin-right: -10000px;
    top: 18px;
    left: 25px;
}

#u17229.MuseMenuActive #u17230-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 45px;
    margin: 0px -10000px 0px 0px;
}

#u17270 {
    width: 94px;
    min-height: 55px;
    margin-right: -10000px;
    left: 95px;
}

#u17271 {
    width: 94px;
    padding-bottom: 37px;
}

#u17271:hover {
    width: 94px;
    min-height: 0px;
    margin: 0px;
}

#u17271.MuseMenuActive {
    width: 94px;
    min-height: 0px;
    margin: 0px;
}

#u17274-4 {
    width: 44px;
    min-height: 18px;
    margin-right: -10000px;
    top: 18px;
    left: 25px;
}

#u17271:hover #u17274-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 44px;
    margin: 0px -10000px 0px 0px;
}

#u17271.MuseMenuActive #u17274-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 44px;
    margin: 0px -10000px 0px 0px;
}

#u17263 {
    width: 112px;
    min-height: 55px;
    margin-right: -10000px;
    left: 189px;
}

#u17264 {
    width: 112px;
    padding-bottom: 37px;
}

#u17264:hover {
    width: 112px;
    min-height: 0px;
    margin: 0px;
}

#u17264.MuseMenuActive {
    width: 112px;
    min-height: 0px;
    margin: 0px;
}

#u17267-4 {
    width: 62px;
    min-height: 18px;
    margin-right: -10000px;
    top: 18px;
    left: 25px;
}

#u17264:hover #u17267-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 62px;
    margin: 0px -10000px 0px 0px;
}

#u17264.MuseMenuActive #u17267-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 62px;
    margin: 0px -10000px 0px 0px;
}

#u17242 {
    width: 146px;
    min-height: 55px;
    margin-right: -10000px;
    left: 301px;
}

#u17243 {
    width: 146px;
    padding-bottom: 37px;
}

#u17243:hover {
    width: 146px;
    min-height: 0px;
    margin: 0px;
}

#u17243.MuseMenuActive {
    width: 146px;
    min-height: 0px;
    margin: 0px;
}

#u17244-4 {
    width: 97px;
    min-height: 18px;
    margin-right: -10000px;
    top: 18px;
    left: 24px;
}

#u17243:hover #u17244-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 97px;
    margin: 0px -10000px 0px 0px;
}

#u17243.MuseMenuActive #u17244-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 97px;
    margin: 0px -10000px 0px 0px;
}

#u17256 {
    width: 98px;
    min-height: 55px;
    margin-right: -10000px;
    left: 447px;
}

#u17257 {
    width: 98px;
    padding-bottom: 37px;
}

#u17257:hover {
    width: 98px;
    min-height: 0px;
    margin: 0px;
}

#u17257.MuseMenuActive {
    width: 98px;
    min-height: 0px;
    margin: 0px;
}

#u17259-4 {
    width: 49px;
    min-height: 18px;
    margin-right: -10000px;
    top: 18px;
    left: 24px;
}

#u17257:hover #u17259-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 49px;
    margin: 0px -10000px 0px 0px;
}

#u17257.MuseMenuActive #u17259-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 49px;
    margin: 0px -10000px 0px 0px;
}

#u17235 {
    width: 104px;
    min-height: 55px;
    margin-right: -10000px;
    left: 545px;
}

#u17238 {
    width: 104px;
    padding-bottom: 37px;
}

#u17238:hover {
    width: 104px;
    min-height: 0px;
    margin: 0px;
}

#u17238.MuseMenuActive {
    width: 104px;
    min-height: 0px;
    margin: 0px;
}

#u17240-4 {
    width: 55px;
    min-height: 18px;
    margin-right: -10000px;
    top: 18px;
    left: 24px;
}

#u17238:hover #u17240-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 55px;
    margin: 0px -10000px 0px 0px;
}

#u17238.MuseMenuActive #u17240-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 55px;
    margin: 0px -10000px 0px 0px;
}

#u17249 {
    width: 106px;
    min-height: 55px;
    margin-right: -10000px;
    left: 649px;
}

#u17250 {
    width: 106px;
    padding-bottom: 37px;
}

#u17250:hover {
    width: 106px;
    min-height: 0px;
    margin: 0px;
}

#u17250.MuseMenuActive {
    width: 106px;
    min-height: 0px;
    margin: 0px;
}

#u17252-4 {
    width: 57px;
    min-height: 18px;
    margin-right: -10000px;
    top: 18px;
    left: 24px;
}

#u17250:hover #u17252-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 57px;
    margin: 0px -10000px 0px 0px;
}

#u17250.MuseMenuActive #u17252-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 18px;
    width: 57px;
    margin: 0px -10000px 0px 0px;
}

#u22257 {
    z-index: 250;
    width: 17px;
    min-height: 22px;
    top: 125px;
    left: 50%;
    margin-left: 407px;
}

#u22259 {
    z-index: 251;
    width: 17px;
    min-height: 22px;
    top: 125px;
    left: 50%;
    margin-left: 447px;
}

#u22261 {
    z-index: 252;
    width: 17px;
    min-height: 22px;
    top: 125px;
    left: 50%;
    margin-left: 488px;
}

#u22263 {
    z-index: 253;
    width: 17px;
    min-height: 22px;
    top: 125px;
    left: 50%;
    margin-left: 528px;
}

#u22265 {
    z-index: 254;
    width: 17px;
    min-height: 22px;
    top: 125px;
    left: 50%;
    margin-left: 569px;
}

#u17812 {
    z-index: 2;
    min-height: 140px;
    padding-bottom: 70px;
    background: #dddddd url("../images/hero.png") no-repeat center center;
    background-size: cover;
}

#u18013-4 {
    z-index: 3;
    width: 225px;
    border-style: none;
    background-color: transparent;
    line-height: 36px;
    font-size: 30px;
    color: #66737e;
    letter-spacing: 0px;
    text-align: left;
    font-family: raleway, sans-serif;
    font-weight: 300;
    position: relative;
    margin-right: -10000px;
    margin-top: 104px;
    left: 100px;
}

#u18013-4:hover {
    background-color: transparent;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 0px;
    width: 225px;
    margin: 104px -10000px 0px 0px;
}

#u18013-4:active {
    background-color: transparent;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 0px;
    width: 225px;
    margin: 104px -10000px 0px 0px;
}

#u17812-bw {
    z-index: 2;
    min-height: 140px;
}

#pu18019-4 {
    width: 0.01px;
    margin-top: 90px;
}

#u18019-4 {
    z-index: 95;
    width: 333px;
    border-radius: 0px;
    line-height: 24px;
    font-size: 20px;
    color: #66737e;
    letter-spacing: 1px;
    text-align: left;
    font-family: raleway, sans-serif;
    font-weight: 700;
    position: relative;
    margin-right: -10000px;
}

.fadeIn {
    border-style: none;
    border-color: #000000;
    background-color: transparent;
    border-radius: 3px;
}

#u18038-4 {
    z-index: 103;
    width: 333px;
    border-radius: 0px;
    line-height: 24px;
    font-size: 20px;
    color: #66737e;
    letter-spacing: 1px;
    text-align: left;
    font-family: raleway, sans-serif;
    font-weight: 700;
    position: relative;
    margin-right: -10000px;
    left: 601px;
}

#pu18021-4 {
    width: 0.01px;
    margin-top: 15px;
}

#u18021-4 {
    z-index: 107;
    width: 537px;
    min-height: 164px;
    border-style: none;
    border-color: #000000;
    background-color: transparent;
    border-radius: 0px;
    line-height: 25px;
    text-align: left;
    color: #8c8c8c;
    font-family: raleway, sans-serif;
    font-weight: 400;
    position: relative;
    margin-right: -10000px;
}

#pu22446 {
    width: 0.01px;
    padding-bottom: 1px;
    margin-right: -10000px;
    margin-top: 6px;
    margin-left: 600px;
}

#u22446 {
    z-index: 145;
    width: 18px;
    min-height: 31px;
    border-style: none;
    border-color: transparent;
    background-color: transparent;
    color: #8c8c8c;
    font-size: 12px;
    line-height: 14px;
    margin-left: 1px;
    position: relative;
}

#u22448 {
    z-index: 146;
    width: 18px;
    min-height: 31px;
    border-style: none;
    border-color: transparent;
    background-color: transparent;
    color: #8c8c8c;
    font-size: 12px;
    line-height: 14px;
    margin-top: 26px;
    position: relative;
}

#u22450 {
    z-index: 147;
    width: 18px;
    min-height: 31px;
    border-style: none;
    border-color: transparent;
    background-color: transparent;
    color: #8c8c8c;
    font-size: 12px;
    line-height: 14px;
    margin-top: 24px;
    position: relative;
}

#pu18039-4 {
    width: 0.01px;
    margin-right: -10000px;
    margin-left: 624px;
}

#u18039-4 {
    z-index: 119;
    width: 476px;
    min-height: 56px;
    border-style: none;
    border-color: #000000;
    background-color: transparent;
    border-radius: 0px;
    line-height: 25px;
    color: #8c8c8c;
    font-family: raleway, sans-serif;
    font-weight: 400;
    position: relative;
}

#u18042-4 {
    z-index: 123;
    width: 476px;
    min-height: 56px;
    border-style: none;
    border-color: #000000;
    background-color: transparent;
    border-radius: 0px;
    line-height: 25px;
    color: #8c8c8c;
    font-family: raleway, sans-serif;
    font-weight: 400;
    position: relative;
}

#u18044-4 {
    z-index: 127;
    width: 476px;
    min-height: 56px;
    border-style: none;
    border-color: #000000;
    background-color: transparent;
    border-radius: 0px;
    line-height: 25px;
    color: #8c8c8c;
    font-family: raleway, sans-serif;
    font-weight: 400;
    position: relative;
}

#pu18049 {
    width: 0.01px;
    margin-left: -100px;
    margin-top: 131px;
}

#u18049 {
    z-index: 131;
    height: 320px;
    background-color: #47b2e6;
}

#u18049-bw {
    z-index: 131;
    height: 320px;
}

#u18050 {
    z-index: 132;
    min-height: 320px;
    background: #000000
        url(https://healthcaresuccess.com/wp-content/uploads/2019/05/Health-News-768x514.jpg)
        no-repeat center center;
    background-size: cover;
    opacity: 0.5;
}

#u18054-6 {
    z-index: 134;
    width: 536px;
    min-height: 67px;
    line-height: 63px;
    font-size: 35px;
    color: #ffffff;
    letter-spacing: 0px;
    text-align: left;
    font-family: raleway, sans-serif;
    font-weight: 300;
    position: relative;
    margin-right: -10000px;
    margin-top: 84px;
    left: 471px;
}

#u18054-2 {
    font-family: raleway, sans-serif;
    font-weight: 800;
}

#u18050-bw {
    z-index: 132;
    min-height: 320px;
}

#u18056-4 {
    z-index: 140;
    width: 407px;
    line-height: 63px;
    font-size: 35px;
    color: #ffffff;
    letter-spacing: 0px;
    text-align: left;
    font-family: raleway, sans-serif;
    font-weight: 300;
    position: relative;
    margin-right: -10000px;
    margin-top: 144px;
    left: 707px;
}

#u18080-4 {
    z-index: 99;
    width: 666px;
    border-radius: 0px;
    line-height: 24px;
    font-size: 20px;
    color: #66737e;
    letter-spacing: 1px;
    text-align: left;
    font-family: raleway, sans-serif;
    font-weight: 700;
    margin-left: 1px;
    margin-top: 90px;
    position: relative;
}

#pu18077-4 {
    width: 0.01px;
    margin-left: 1px;
    margin-top: 14px;
}

#u18077-4 {
    z-index: 111;
    width: 537px;
    min-height: 164px;
    border-style: none;
    border-color: #000000;
    background-color: transparent;
    border-radius: 0px;
    line-height: 25px;
    color: #8c8c8c;
    font-size: 14px;
    text-align: left;
    font-family: raleway, sans-serif;
    font-weight: 400;
    position: relative;
    margin-right: -10000px;
    margin-top: 2px;
}

#pu17959 {
    width: 0.01px;
    margin-left: -100px;
    margin-top: 96px;
}

#u17959 {
    z-index: 73;
    height: 244px;
    background-color: #47b2e6;
}

#u17959-bw {
    z-index: 73;
    height: 244px;
}

#u17849 {
    z-index: 74;
    min-height: 195px;
    padding-bottom: 49px;
    background: transparent url("../images/1920%20x%20700-u21562-fr.png")
        no-repeat center center;
    background-size: cover;
}

#u17812_align_to_page,
#u18050_align_to_page,
#u17849_align_to_page {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    position: relative;
    left: -100px;
}

#pu17821 {
    width: 0.01px;
    padding-bottom: 0px;
    margin-right: -10000px;
    margin-top: 63px;
    margin-left: 98px;
}

#u17821 {
    z-index: 75;
    width: 270px;
    min-height: 90px;
    border-style: none;
    border-color: transparent;
    background-color: transparent;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    line-height: 60px;
    font-family: open-sans, sans-serif;
    font-weight: 600;
    position: relative;
}

#u17893-4 {
    z-index: 79;
    width: 270px;
    min-height: 37px;
    background-color: transparent;
    line-height: 22px;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 1px;
    text-align: center;
    font-family: raleway, sans-serif;
    font-weight: 600;
    margin-top: 4px;
    position: relative;
}

#pu17836 {
    width: 0.01px;
    padding-bottom: 0px;
    margin-right: -10000px;
    margin-top: 63px;
    margin-left: 398px;
}

#u17836 {
    z-index: 76;
    width: 270px;
    min-height: 90px;
    border-style: none;
    border-color: transparent;
    background-color: transparent;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    line-height: 60px;
    font-family: open-sans, sans-serif;
    font-weight: 600;
    position: relative;
}

#u17855-4 {
    z-index: 83;
    width: 270px;
    min-height: 37px;
    background-color: transparent;
    line-height: 22px;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 1px;
    text-align: center;
    font-family: raleway, sans-serif;
    font-weight: 600;
    margin-top: 4px;
    position: relative;
}

#pu17842 {
    width: 0.01px;
    padding-bottom: 0px;
    margin-right: -10000px;
    margin-top: 63px;
    margin-left: 702px;
}

#u17842 {
    z-index: 77;
    width: 270px;
    min-height: 90px;
    border-style: none;
    border-color: transparent;
    background-color: transparent;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    line-height: 60px;
    font-family: open-sans, sans-serif;
    font-weight: 600;
    position: relative;
}

#u17935-4 {
    z-index: 87;
    width: 270px;
    min-height: 37px;
    background-color: transparent;
    line-height: 22px;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 1px;
    text-align: center;
    font-family: raleway, sans-serif;
    font-weight: 600;
    margin-top: 4px;
    position: relative;
}

#pu17860 {
    width: 0.01px;
    padding-bottom: 0px;
    margin-right: -10000px;
    margin-top: 63px;
    margin-left: 998px;
}

#u17860 {
    z-index: 78;
    width: 270px;
    min-height: 90px;
    border-style: none;
    border-color: transparent;
    background-color: transparent;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    line-height: 60px;
    font-family: open-sans, sans-serif;
    font-weight: 600;
    position: relative;
}

#u17848-4 {
    z-index: 91;
    width: 270px;
    min-height: 37px;
    background-color: transparent;
    line-height: 22px;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 1px;
    text-align: center;
    font-family: raleway, sans-serif;
    font-weight: 600;
    margin-top: 4px;
    position: relative;
}

#u17849-bw {
    z-index: 74;
    min-height: 195px;
}

#u22453-4 {
    z-index: 148;
    width: 533px;
    border-radius: 0px;
    line-height: 24px;
    font-size: 20px;
    color: #66737e;
    letter-spacing: 1px;
    text-align: center;
    font-family: raleway, sans-serif;
    font-weight: 700;
    margin-left: 319px;
    margin-top: 90px;
    position: relative;
}

#pamphletu22454 {
    z-index: 152;
    width: 0.01px;
    height: 368px;
    margin-left: 60px;
    margin-top: 15px;
    position: relative;
}

#u22464 {
    z-index: 153;
    width: 40px;
    position: relative;
    margin-right: -10000px;
    margin-top: 354px;
    left: 506px;
}

#u22466 {
    position: absolute;
    width: 11px;
    height: 11px;
    border-width: 2px;
    border-style: solid;
    border-color: #a7a7a7;
    background-color: transparent;
    border-radius: 100px;
}

#u22465 {
    position: absolute;
    width: 11px;
    height: 11px;
    border-width: 2px;
    border-style: solid;
    border-color: #a7a7a7;
    background-color: transparent;
    border-radius: 100px;
    left: 25px;
}

#u22466.PamphletThumbSelected,
#u22465.PamphletThumbSelected {
    border-style: none;
    border-color: #030303;
    background-color: #a7a7a7;
    border-radius: 100px;
    width: 15px;
    height: 15px;
    min-height: 4px;
    margin: 0px;
}

#u22455 {
    position: absolute;
    width: 1050px;
    background-color: transparent;
}

#u22455popup {
    z-index: 156;
}

#u22460 {
    z-index: 157;
    width: 870px;
    height: 293px;
    border-style: none;
    border-color: #999999;
    background-color: transparent;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 28px;
    margin-right: -10000px;
    position: relative;
}

#u22462-4 {
    z-index: 158;
    width: 870px;
    min-height: 60px;
    background-color: transparent;
    line-height: 25px;
    color: #8c8c8c;
    font-size: 16px;
    text-align: center;
    font-family: raleway, sans-serif;
    font-weight: 400;
    position: relative;
}

#u22461 {
    z-index: 166;
    width: 134px;
    height: 134px;
    border-width: 3px;
    border-style: solid;
    border-color: #f8f8f8;
    border-radius: 100px;
    margin-left: 360px;
    margin-top: 30px;
    position: relative;
    background: #dddddd url("../images/hero.png") no-repeat center center;
    background-size: cover;
}

#u22463-4 {
    z-index: 162;
    width: 107px;
    min-height: 32px;
    background-color: transparent;
    line-height: 24px;
    color: #66737e;
    font-size: 20px;
    text-align: center;
    font-family: raleway, sans-serif;
    font-weight: 700;
    margin-left: 381px;
    margin-top: 31px;
    position: relative;
}

#u22456 {
    z-index: 167;
    width: 870px;
    height: 293px;
    border-style: none;
    border-color: #999999;
    background-color: transparent;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 28px;
    margin-right: -10000px;
    position: relative;
}

#u22459-4 {
    z-index: 168;
    width: 870px;
    min-height: 60px;
    background-color: transparent;
    line-height: 25px;
    color: #8c8c8c;
    font-size: 16px;
    text-align: center;
    font-family: raleway, sans-serif;
    font-weight: 400;
    position: relative;
}

#u22457 {
    z-index: 176;
    width: 134px;
    height: 134px;
    border-width: 3px;
    border-style: solid;
    border-color: #f8f8f8;
    border-radius: 100px;
    margin-left: 360px;
    margin-top: 30px;
    position: relative;
    background: #dddddd url("../images/400%20x%20400-u21705-fr.jpg") no-repeat
        center top;
    background-size: cover;
}

#u22461:hover,
#u22457:hover {
    background-repeat: no-repeat;
    background-position: center top;
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    width: 134px;
    height: 134px;
    min-height: 0px;
    margin: 30px 0px 0px 360px;
    background-size: cover;
}

#u22458-4 {
    z-index: 172;
    width: 107px;
    min-height: 32px;
    background-color: transparent;
    line-height: 24px;
    color: #66737e;
    font-size: 20px;
    text-align: center;
    font-family: raleway, sans-serif;
    font-weight: 700;
    margin-left: 381px;
    margin-top: 31px;
    position: relative;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */ {
    cursor: pointer;
}

#u18086 {
    z-index: 144;
    height: 30px;
}

.ie #u18086 {
    background-color: #ffffff;
    opacity: 0.01;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    filter: alpha(opacity=1);
}

#u18086-bw {
    z-index: 144;
    margin-top: 51px;
    height: 30px;
}

#u17154 {
    z-index: 7;
    min-height: 233px;
    padding-bottom: 35px;
}

#u17154_align_to_page {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    left: -100px;
    margin-bottom: -2px;
}

#pu17172-4 {
    width: 0.01px;
    padding-bottom: 0px;
    margin-right: -10000px;
    margin-top: 44px;
    margin-left: 100px;
}

#u17172-4 {
    z-index: 48;
    width: 152px;
    min-height: 25px;
}

#u17156-4 {
    z-index: 9;
    width: 600px;
    min-height: 144px;
    margin-top: 10px;
}

#pu17173-4 {
    width: 0.01px;
    padding-bottom: 0px;
    margin-right: -10000px;
    margin-top: 44px;
    margin-left: 500px;
}

#u17173-4 {
    z-index: 52;
    width: 326px;
    min-height: 25px;
}

#u17157-10 {
    z-index: 13;
    width: 326px;
    min-height: 154px;
    margin-top: 10px;
}

#u17157-10:hover {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 154px;
    width: 326px;
    margin: 10px 0px 0px;
}

#pu17162-4 {
    width: 0.01px;
    padding-bottom: 0px;
    margin-right: -10000px;
    margin-top: 44px;
    margin-left: 900px;
}

#u17162-4 {
    z-index: 39;
    width: 155px;
    min-height: 29px;
}

#pu22429 {
    width: 0.01px;
    margin-top: 6px;
}

#u22429 {
    z-index: 69;
    width: 17px;
    min-height: 20px;
    margin-right: -10000px;
    margin-top: 5px;
}

#u17158-4 {
    z-index: 23;
    width: 296px;
    min-height: 21px;
    margin-right: -10000px;
    left: 28px;
}

#u17158-4:hover {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 21px;
    width: 296px;
    margin: 0px -10000px 0px 0px;
}

#pu22431 {
    width: 0.01px;
    margin-top: 9px;
}

#u22431 {
    z-index: 70;
    width: 17px;
    min-height: 20px;
    margin-right: -10000px;
    margin-top: 2px;
}

#u17159-4 {
    z-index: 27;
    width: 250px;
    min-height: 24px;
    margin-right: -10000px;
    left: 28px;
}

#u17159-4:hover {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 24px;
    width: 250px;
    margin: 0px -10000px 0px 0px;
}

#u22433 {
    z-index: 71;
    width: 17px;
    min-height: 20px;
    margin-right: -10000px;
    margin-top: 1px;
}

#u17160-4 {
    z-index: 31;
    width: 250px;
    min-height: 21px;
    margin-right: -10000px;
    left: 28px;
}

#pu22433,
#pu22435 {
    width: 0.01px;
    margin-top: 10px;
}

#u22435 {
    z-index: 72;
    width: 17px;
    min-height: 20px;
    margin-right: -10000px;
}

#u17161-4 {
    z-index: 35;
    width: 250px;
    min-height: 21px;
    margin-right: -10000px;
    left: 28px;
}

#u17160-4:hover,
#u17161-4:hover {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 21px;
    width: 250px;
    margin: 0px -10000px 0px 0px;
}

#u17154-bw {
    z-index: 7;
    min-height: 233px;
    margin-top: -2px;
}

#u17155 {
    z-index: 8;
    min-height: 62px;
    padding-bottom: 1px;
}

#u17155_align_to_page {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    left: -100px;
    margin-bottom: -7px;
}

#u17182 {
    z-index: 61;
    width: 29px;
    margin-right: -10000px;
    margin-top: 18px;
    left: 98px;
}

#u17182_img {
    padding-bottom: 2px;
}

#u17181-5 {
    z-index: 56;
    width: 172px;
    min-height: 29px;
    margin-right: -10000px;
    margin-top: 17px;
    left: 142px;
}

#u17163-5 {
    z-index: 43;
    width: 499px;
    min-height: 23px;
    margin-right: -10000px;
    margin-top: 23px;
    left: 333px;
}

#u17322 {
    z-index: 63;
    width: 200px;
    min-height: 100px;
    margin-right: -10000px;
    margin-top: -38px;
    left: 868px;
}

#u22268 {
    z-index: 64;
    width: 17px;
    min-height: 22px;
    margin-right: -10000px;
    margin-top: 24px;
    left: 1093px;
}

#u22270 {
    z-index: 65;
    width: 17px;
    min-height: 22px;
    margin-right: -10000px;
    margin-top: 24px;
    left: 1133px;
}

#u22272 {
    z-index: 66;
    width: 17px;
    min-height: 22px;
    margin-right: -10000px;
    margin-top: 24px;
    left: 1174px;
}

#u22274 {
    z-index: 67;
    width: 17px;
    min-height: 22px;
    margin-right: -10000px;
    margin-top: 24px;
    left: 1214px;
}

#u22276 {
    z-index: 68;
    width: 17px;
    min-height: 22px;
    margin-right: -10000px;
    margin-top: 24px;
    left: 1255px;
}

#u17155-bw {
    z-index: 8;
    min-height: 62px;
    margin-top: -7px;
}

body {
    position: relative;
    min-width: 1170px;
}

#page .verticalspacer {
    clear: both;
}
