.version.doctor /* version checker */
{
	color: #0000F9;
	background-color: #782D79;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1170px;
	min-height: 1000px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 154px;
	width: 0.01px;
}

#u22267
{
	z-index: 162;
	height: 106px;
	top: 0px;
}

#u22267-bw
{
	z-index: 162;
}

#buttonu17284
{
	z-index: 219;
	width: 213px;
	padding-bottom: 11px;
	top: 28px;
	left: 50%;
	margin-left: 369px;
}

#buttonu17284:hover
{
	width: 213px;
	min-height: 0px;
	margin: 0px 0px 0px 369px;
}

#buttonu17284.ButtonSelected
{
	width: 213px;
	min-height: 0px;
	margin: 0px 0px 0px 369px;
}

#u17285-4
{
	z-index: 220;
	width: 186px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 12px;
}

#buttonu17284:hover #u17285-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 186px;
	margin: 11px -10000px 0px 0px;
}

#buttonu17284.ButtonSelected #u17285-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 186px;
	margin: 11px -10000px 0px 0px;
}

#u17377
{
	z-index: 224;
	width: 277px;
	top: 32px;
	left: 50%;
	margin-left: -585px;
}

#u17287
{
	z-index: 230;
	width: 35px;
	margin-right: -10000px;
	margin-top: 4px;
}

#u17283-5
{
	z-index: 225;
	width: 226px;
	min-height: 46px;
	margin-right: -10000px;
	left: 51px;
}

#u22249
{
	z-index: 232;
	width: 17px;
	min-height: 19px;
	top: 43px;
	left: 50%;
	margin-left: -168px;
}

#u17220-4
{
	z-index: 163;
	width: 126px;
	min-height: 18px;
	top: 44px;
	left: 50%;
	margin-left: -146px;
}

#u22251
{
	z-index: 233;
	width: 17px;
	min-height: 19px;
	top: 43px;
	left: 50%;
	margin-left: 5px;
}

#u17221-4
{
	z-index: 167;
	width: 126px;
	min-height: 18px;
	top: 44px;
	left: 50%;
	margin-left: 30px;
}

#u22253
{
	z-index: 234;
	width: 17px;
	min-height: 19px;
	top: 43px;
	left: 50%;
	margin-left: 188px;
}

#u17222-4
{
	z-index: 171;
	width: 119px;
	min-height: 18px;
	top: 44px;
	left: 50%;
	margin-left: 211px;
}

#u17226
{
	z-index: 175;
	height: 55px;
	top: 106px;
}

#u17226-bw
{
	z-index: 175;
}

#menuu17227
{
	z-index: 176;
	width: 755px;
	top: 106px;
	left: 50%;
	margin-left: -585px;
}

#u17228
{
	width: 95px;
	min-height: 55px;
	margin-right: -10000px;
}

#u17229
{
	width: 95px;
	padding-bottom: 37px;
}

#u17229.MuseMenuActive
{
	width: 95px;
	min-height: 0px;
	margin: 0px;
}

#u17230-4
{
	width: 45px;
	min-height: 18px;
	margin-right: -10000px;
	top: 18px;
	left: 25px;
}

#u17229.MuseMenuActive #u17230-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u17270
{
	width: 94px;
	min-height: 55px;
	margin-right: -10000px;
	left: 95px;
}

#u17271
{
	width: 94px;
	padding-bottom: 37px;
}

#u17271:hover
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u17271.MuseMenuActive
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u17274-4
{
	width: 44px;
	min-height: 18px;
	margin-right: -10000px;
	top: 18px;
	left: 25px;
}

#u17271:hover #u17274-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u17271.MuseMenuActive #u17274-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u17263
{
	width: 112px;
	min-height: 55px;
	margin-right: -10000px;
	left: 189px;
}

#u17264
{
	width: 112px;
	padding-bottom: 37px;
}

#u17264:hover
{
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u17264.MuseMenuActive
{
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u17267-4
{
	width: 62px;
	min-height: 18px;
	margin-right: -10000px;
	top: 18px;
	left: 25px;
}

#u17264:hover #u17267-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u17264.MuseMenuActive #u17267-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 62px;
	margin: 0px -10000px 0px 0px;
}

#u17242
{
	width: 146px;
	min-height: 55px;
	margin-right: -10000px;
	left: 301px;
}

#u17243
{
	width: 146px;
	padding-bottom: 37px;
}

#u17243:hover
{
	width: 146px;
	min-height: 0px;
	margin: 0px;
}

#u17243.MuseMenuActive
{
	width: 146px;
	min-height: 0px;
	margin: 0px;
}

#u17244-4
{
	width: 97px;
	min-height: 18px;
	margin-right: -10000px;
	top: 18px;
	left: 24px;
}

#u17243:hover #u17244-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 97px;
	margin: 0px -10000px 0px 0px;
}

#u17243.MuseMenuActive #u17244-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 97px;
	margin: 0px -10000px 0px 0px;
}

#u17256
{
	width: 98px;
	min-height: 55px;
	margin-right: -10000px;
	left: 447px;
}

#u17257
{
	width: 98px;
	padding-bottom: 37px;
}

#u17257:hover
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u17257.MuseMenuActive
{
	width: 98px;
	min-height: 0px;
	margin: 0px;
}

#u17259-4
{
	width: 49px;
	min-height: 18px;
	margin-right: -10000px;
	top: 18px;
	left: 24px;
}

#u17257:hover #u17259-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u17257.MuseMenuActive #u17259-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u17235
{
	width: 104px;
	min-height: 55px;
	margin-right: -10000px;
	left: 545px;
}

#u17238
{
	width: 104px;
	padding-bottom: 37px;
}

#u17238:hover
{
	width: 104px;
	min-height: 0px;
	margin: 0px;
}

#u17238.MuseMenuActive
{
	width: 104px;
	min-height: 0px;
	margin: 0px;
}

#u17240-4
{
	width: 55px;
	min-height: 18px;
	margin-right: -10000px;
	top: 18px;
	left: 24px;
}

#u17238:hover #u17240-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u17238.MuseMenuActive #u17240-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u17249
{
	width: 106px;
	min-height: 55px;
	margin-right: -10000px;
	left: 649px;
}

#u17250
{
	width: 106px;
	padding-bottom: 37px;
}

#u17250:hover
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u17250.MuseMenuActive
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u17252-4
{
	width: 57px;
	min-height: 18px;
	margin-right: -10000px;
	top: 18px;
	left: 24px;
}

#u17250:hover #u17252-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u17250.MuseMenuActive #u17252-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u22257
{
	z-index: 235;
	width: 17px;
	min-height: 22px;
	top: 125px;
	left: 50%;
	margin-left: 407px;
}

#u22259
{
	z-index: 236;
	width: 17px;
	min-height: 22px;
	top: 125px;
	left: 50%;
	margin-left: 447px;
}

#u22261
{
	z-index: 237;
	width: 17px;
	min-height: 22px;
	top: 125px;
	left: 50%;
	margin-left: 488px;
}

#u22263
{
	z-index: 238;
	width: 17px;
	min-height: 22px;
	top: 125px;
	left: 50%;
	margin-left: 528px;
}

#u22265
{
	z-index: 239;
	width: 17px;
	min-height: 22px;
	top: 125px;
	left: 50%;
	margin-left: 569px;
}

#u18975
{
	z-index: 2;
	min-height: 140px;
	padding-bottom: 100px;
	background: #DDDDDD url("../images/1920%20x%20620.jpg") no-repeat center center;
	background-size: cover;
}

#u18975_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1170px;
	position: relative;
	left: -100px;
}

#u18974-4
{
	z-index: 3;
	width: 400px;
	border-style: none;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #66737E;
	letter-spacing: 0px;
	text-align: left;
	font-family: raleway, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 104px;
	left: 100px;
}

#u18974-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 400px;
	margin: 104px -10000px 0px 0px;
}

#u18974-4:active
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 400px;
	margin: 104px -10000px 0px 0px;
}

#u18975-bw
{
	z-index: 2;
	min-height: 140px;
}

#u19019-4
{
	z-index: 73;
	width: 457px;
	border-radius: 0px;
	line-height: 24px;
	font-size: 20px;
	color: #66737E;
	letter-spacing: 1px;
	text-align: left;
	font-family: raleway, sans-serif;
	font-weight: 700;
	margin-top: 91px;
	position: relative;
}

.fadeIn
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	border-radius: 3px;
}

#u19046-4
{
	z-index: 77;
	width: 933px;
	min-height: 50px;
	border-radius: 0px;
	line-height: 21px;
	text-align: left;
	color: #8C8C8C;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-top: 15px;
	position: relative;
}

#pu19102
{
	width: 0.01px;
	margin-left: 37px;
	margin-top: 62px;
}

#u19102
{
	z-index: 82;
	width: 144px;
	height: 144px;
	border-width: 3px;
	border-style: solid;
	border-color: #F8F8F8;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/400%20x%20400-u21548-fr.jpg") no-repeat center top;
	background-size: cover;
}

#pu19103-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 181px;
}

#u19103-4
{
	z-index: 86;
	width: 281px;
	min-height: 22px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #00AAE5;
	letter-spacing: 1px;
	text-align: left;
	font-family: raleway, sans-serif;
	font-weight: 500;
	position: relative;
}

#u19099-7
{
	z-index: 102;
	width: 281px;
	min-height: 86px;
	background-color: transparent;
	font-size: 13px;
	color: #8C8C8C;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
}

#buttonu19087
{
	z-index: 130;
	width: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: transparent;
	border-radius: 100px;
	padding-bottom: 4px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#buttonu19087:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#buttonu19087:active
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	border-radius: 100px;
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u22554
{
	z-index: 131;
	width: 13px;
	min-height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #8C8C8C;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 8px;
}

#buttonu22556
{
	z-index: 132;
	width: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: transparent;
	border-radius: 100px;
	padding-bottom: 4px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 44px;
}

#buttonu22556:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#buttonu22556:active
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	border-radius: 100px;
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u22557
{
	z-index: 133;
	width: 13px;
	min-height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #8C8C8C;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 7px;
}

#buttonu22559
{
	z-index: 134;
	width: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: transparent;
	border-radius: 100px;
	padding-bottom: 4px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 88px;
}

#buttonu22559:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#buttonu22559:active
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	border-radius: 100px;
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u22560
{
	z-index: 135;
	width: 13px;
	min-height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #8C8C8C;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 6px;
}

#buttonu22562
{
	z-index: 136;
	width: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: transparent;
	border-radius: 100px;
	padding-bottom: 4px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 132px;
}

#buttonu22562:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#buttonu22562:active
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	border-radius: 100px;
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u22563
{
	z-index: 137;
	width: 13px;
	min-height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #8C8C8C;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 6px;
}

#u19204
{
	z-index: 84;
	width: 144px;
	height: 144px;
	border-width: 3px;
	border-style: solid;
	border-color: #F8F8F8;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
	left: 563px;
	background: transparent url("../images/400%20x%20400-u21548-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u19102:hover,#u19204:hover
{
	width: 144px;
	height: 144px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/400%20x%20400-u21548-r-fr.png") no-repeat center top;
	background-size: cover;
}

#pu19205-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 744px;
}

#u19205-4
{
	z-index: 94;
	width: 281px;
	min-height: 22px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #00AAE5;
	letter-spacing: 1px;
	text-align: left;
	font-family: raleway, sans-serif;
	font-weight: 500;
	position: relative;
}

#u19199-7
{
	z-index: 116;
	width: 281px;
	min-height: 86px;
	background-color: transparent;
	font-size: 13px;
	color: #8C8C8C;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
}

#buttonu22578
{
	z-index: 146;
	width: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: transparent;
	border-radius: 100px;
	padding-bottom: 4px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#buttonu22578:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#buttonu22578:active
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	border-radius: 100px;
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u22579
{
	z-index: 147;
	width: 13px;
	min-height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #8C8C8C;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 8px;
}

#buttonu22581
{
	z-index: 148;
	width: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: transparent;
	border-radius: 100px;
	padding-bottom: 4px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 44px;
}

#buttonu22581:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#buttonu22581:active
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	border-radius: 100px;
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u22582
{
	z-index: 149;
	width: 13px;
	min-height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #8C8C8C;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 7px;
}

#buttonu22584
{
	z-index: 150;
	width: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: transparent;
	border-radius: 100px;
	padding-bottom: 4px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 88px;
}

#buttonu22584:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#buttonu22584:active
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	border-radius: 100px;
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u22585
{
	z-index: 151;
	width: 13px;
	min-height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #8C8C8C;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 6px;
}

#buttonu22587
{
	z-index: 152;
	width: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: transparent;
	border-radius: 100px;
	padding-bottom: 4px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 132px;
}

#buttonu22587:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#buttonu22587:active
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	border-radius: 100px;
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u22588
{
	z-index: 153;
	width: 13px;
	min-height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #8C8C8C;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 6px;
}

#pu19225
{
	width: 0.01px;
	margin-left: 45px;
	margin-top: 86px;
}

#u19225
{
	z-index: 83;
	width: 144px;
	height: 144px;
	border-width: 3px;
	border-style: solid;
	border-color: #F8F8F8;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	background: transparent url("../images/400%20x%20400-u21548-fr.jpg") no-repeat center top;
	background-size: cover;
}

#pu19227-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 173px;
}

#u19227-4
{
	z-index: 90;
	width: 281px;
	min-height: 22px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #00AAE5;
	letter-spacing: 1px;
	text-align: left;
	font-family: raleway, sans-serif;
	font-weight: 500;
	position: relative;
}

#u19216-7
{
	z-index: 109;
	width: 281px;
	min-height: 86px;
	background-color: transparent;
	font-size: 13px;
	color: #8C8C8C;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
}

#pbuttonu19087,#pbuttonu22578,#pbuttonu22566
{
	width: 0.01px;
}

#buttonu22566
{
	z-index: 138;
	width: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: transparent;
	border-radius: 100px;
	padding-bottom: 4px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#buttonu22566:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#buttonu22566:active
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	border-radius: 100px;
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u22567
{
	z-index: 139;
	width: 13px;
	min-height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #8C8C8C;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 8px;
}

#buttonu22569
{
	z-index: 140;
	width: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: transparent;
	border-radius: 100px;
	padding-bottom: 4px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 44px;
}

#buttonu22569:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#buttonu22569:active
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	border-radius: 100px;
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u22570
{
	z-index: 141;
	width: 13px;
	min-height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #8C8C8C;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 7px;
}

#buttonu22572
{
	z-index: 142;
	width: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: transparent;
	border-radius: 100px;
	padding-bottom: 4px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 88px;
}

#buttonu22572:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#buttonu22572:active
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	border-radius: 100px;
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u22573
{
	z-index: 143;
	width: 13px;
	min-height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #8C8C8C;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 6px;
}

#buttonu22575
{
	z-index: 144;
	width: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: transparent;
	border-radius: 100px;
	padding-bottom: 4px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 132px;
}

#buttonu22575:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#buttonu22575:active
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	border-radius: 100px;
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u22576
{
	z-index: 145;
	width: 13px;
	min-height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #8C8C8C;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 6px;
}

#u19208
{
	z-index: 85;
	width: 144px;
	height: 144px;
	border-width: 3px;
	border-style: solid;
	border-color: #F8F8F8;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 563px;
	background: transparent url("../images/400%20x%20400-u21548-fr.jpg") no-repeat center top;
	background-size: cover;
}

#u19225:hover,#u19208:hover
{
	width: 144px;
	height: 144px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
	background: transparent url("../images/400%20x%20400-u21548-r-fr.png") no-repeat center top;
	background-size: cover;
}

#pu19226-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 736px;
}

#u19226-4
{
	z-index: 98;
	width: 281px;
	min-height: 22px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #00AAE5;
	letter-spacing: 1px;
	text-align: left;
	font-family: raleway, sans-serif;
	font-weight: 500;
	position: relative;
}

#u19215-7
{
	z-index: 123;
	width: 281px;
	min-height: 86px;
	background-color: transparent;
	font-size: 13px;
	color: #8C8C8C;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
}

#u19099-2,#u19099-4,#u19199-2,#u19199-4,#u19216-2,#u19216-4,#u19215-2,#u19215-4
{
	line-height: 23px;
}

#u19099-5,#u19199-5,#u19216-5,#u19215-5
{
	line-height: 16px;
}

#pbuttonu22590
{
	width: 0.01px;
	margin-top: -1px;
}

#buttonu22590
{
	z-index: 154;
	width: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: transparent;
	border-radius: 100px;
	padding-bottom: 4px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#buttonu22590:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#buttonu22590:active
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	border-radius: 100px;
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u22591
{
	z-index: 155;
	width: 13px;
	min-height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #8C8C8C;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 8px;
}

#buttonu22593
{
	z-index: 156;
	width: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: transparent;
	border-radius: 100px;
	padding-bottom: 4px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 44px;
}

#buttonu22593:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#buttonu22593:active
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	border-radius: 100px;
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u22594
{
	z-index: 157;
	width: 13px;
	min-height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #8C8C8C;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 7px;
}

#buttonu22596
{
	z-index: 158;
	width: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: transparent;
	border-radius: 100px;
	padding-bottom: 4px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 88px;
}

#buttonu22596:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#buttonu22596:active
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	border-radius: 100px;
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u22597
{
	z-index: 159;
	width: 13px;
	min-height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #8C8C8C;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 6px;
}

#buttonu22599
{
	z-index: 160;
	width: 24px;
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: transparent;
	border-radius: 100px;
	padding-bottom: 4px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 132px;
}

#buttonu22599:hover
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#buttonu22599:active
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	border-radius: 100px;
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#buttonu19087.ButtonSelected,#buttonu22556.ButtonSelected,#buttonu22559.ButtonSelected,#buttonu22562.ButtonSelected,#buttonu22578.ButtonSelected,#buttonu22581.ButtonSelected,#buttonu22584.ButtonSelected,#buttonu22587.ButtonSelected,#buttonu22566.ButtonSelected,#buttonu22569.ButtonSelected,#buttonu22572.ButtonSelected,#buttonu22575.ButtonSelected,#buttonu22590.ButtonSelected,#buttonu22593.ButtonSelected,#buttonu22596.ButtonSelected,#buttonu22599.ButtonSelected
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u22600
{
	z-index: 161;
	width: 13px;
	min-height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #8C8C8C;
	font-size: 13px;
	line-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 6px;
}

#u19020
{
	z-index: 81;
	height: 40px;
}

.ie #u19020
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u19020-bw
{
	z-index: 81;
	margin-top: 172px;
	height: 40px;
}

#u17154
{
	z-index: 7;
	min-height: 233px;
	padding-bottom: 35px;
}

#u17154_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1170px;
	left: -100px;
	margin-bottom: -2px;
}

#pu17172-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 44px;
	margin-left: 100px;
}

#u17172-4
{
	z-index: 48;
	width: 152px;
	min-height: 25px;
}

#u17156-4
{
	z-index: 9;
	width: 311px;
	min-height: 144px;
	margin-top: 10px;
}

#u17156-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 144px;
	width: 311px;
	margin: 10px 0px 0px;
}

#pu17173-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 44px;
	margin-left: 500px;
}

#u17173-4
{
	z-index: 52;
	width: 326px;
	min-height: 25px;
}

#u17157-10
{
	z-index: 13;
	width: 326px;
	min-height: 154px;
	margin-top: 10px;
}

#u17157-10:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 154px;
	width: 326px;
	margin: 10px 0px 0px;
}

#pu17162-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 44px;
	margin-left: 900px;
}

#u17162-4
{
	z-index: 39;
	width: 155px;
	min-height: 29px;
}

#pu22429
{
	width: 0.01px;
	margin-top: 6px;
}

#u22429
{
	z-index: 69;
	width: 17px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 5px;
}

#u17158-4
{
	z-index: 23;
	width: 296px;
	min-height: 21px;
	margin-right: -10000px;
	left: 28px;
}

#u17158-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 296px;
	margin: 0px -10000px 0px 0px;
}

#pu22431
{
	width: 0.01px;
	margin-top: 9px;
}

#u22431
{
	z-index: 70;
	width: 17px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u17159-4
{
	z-index: 27;
	width: 250px;
	min-height: 24px;
	margin-right: -10000px;
	left: 28px;
}

#u17159-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 250px;
	margin: 0px -10000px 0px 0px;
}

#u22433
{
	z-index: 71;
	width: 17px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u17160-4
{
	z-index: 31;
	width: 250px;
	min-height: 21px;
	margin-right: -10000px;
	left: 28px;
}

#pu22433,#pu22435
{
	width: 0.01px;
	margin-top: 10px;
}

#u22435
{
	z-index: 72;
	width: 17px;
	min-height: 20px;
	margin-right: -10000px;
}

#u17161-4
{
	z-index: 35;
	width: 250px;
	min-height: 21px;
	margin-right: -10000px;
	left: 28px;
}

#u17160-4:hover,#u17161-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 250px;
	margin: 0px -10000px 0px 0px;
}

#u17154-bw
{
	z-index: 7;
	min-height: 233px;
	margin-top: -2px;
}

#u17155
{
	z-index: 8;
	min-height: 62px;
	padding-bottom: 1px;
}

#u17155_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1170px;
	left: -100px;
	margin-bottom: -7px;
}

#u17182
{
	z-index: 61;
	width: 29px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 98px;
}

#u17182_img
{
	padding-bottom: 2px;
}

#u17181-5
{
	z-index: 56;
	width: 172px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 142px;
}

#u17163-5
{
	z-index: 43;
	width: 499px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 333px;
}

#u17322
{
	z-index: 63;
	width: 200px;
	min-height: 100px;
	margin-right: -10000px;
	margin-top: -38px;
	left: 868px;
}

#u22268
{
	z-index: 64;
	width: 17px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 1093px;
}

#u22270
{
	z-index: 65;
	width: 17px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 1133px;
}

#u22272
{
	z-index: 66;
	width: 17px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 1174px;
}

#u22274
{
	z-index: 67;
	width: 17px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 1214px;
}

#u22276
{
	z-index: 68;
	width: 17px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 1255px;
}

#u17155-bw
{
	z-index: 8;
	min-height: 62px;
	margin-top: -7px;
}

body
{
	position: relative;
	min-width: 1170px;
}

#page .verticalspacer
{
	clear: both;
}

